<!DOCTYPE html>
<html xmlns:th=https://www.thymeleaf.org>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/saveUser}" th:object="${user}" method="POST">
<br><input type="text" placeholder="User Name" th:field="*{userName}">
<input type="text" placeholder="Password" th:field="*{password}">
<input type="text" placeholder="Repeat Password" th:name="passwordTwo"><br>

<!--<tr th:each="user:${ListUsers}"></tr>-->
<input type="text" placeholder="Email" th:field="*{email}">
<input type="text" placeholder="First Name" th:field="*{firstname}">
<input type="text" placeholder="Last Name" th:field="*{lastname}">
<br><input class="btn btn-primary" type="submit" value="Edit User"><br><br>
<!--  <br><input type="submit" value="Signup User"><br><br>-->
</form>
<a th:href="@{/}"> Return Back To Homepage</a>
</body>
</html>