<!DOCTYPE html>
<html xmlns:th=https://www.thymeleaf.org>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<html xmlns:th=https://www.thymeleaf.org>


<form th:action="@{/savePost}" th:object="${post}" method="GET">
    <input type="text" placeholder="Titel" th:field="*{title}"><br>
    <input type="text" placeholder="Description" th:field="*{description}"><br>
    <input type="text" placeholder="UserName" th:field="*{firstname}"><br>
    <input class="btn btn-primary" type="submit" value="Save post"><br>
    <!--<input type="submit" value="Save post">--->
</form>

<div th:each="post: ${posts}">
    <p th:text="${post.title}" />
    <p th:text="${post.description}" />
    <p th:text="${post.firstname}" />
</div>

</body>
</html>